{% load hub_extras %}
        <div class="card">
          {% if notice %}
            <p class="notice flash-banner">{{ notice }}</p>
          {% endif %}
          {% if error %}
            <p class="error flash-banner">{{ error }}</p>
          {% endif %}
          {% include "includes/teach_class/class_setup_landing_section.html" %}
          {% include "includes/teach_class/class_setup_invites_section.html" %}
          {% include "includes/teach_class/class_setup_staff_assignments_section.html" %}
          {% include "includes/teach_class/class_setup_roster_section.html" %}
        </div>
