{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{{ changelist_url }}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; Import course content
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
        <p class="errornote">{{ form.non_field_errors|striptags }}</p>
      {% endif %}

      <fieldset class="module aligned">
        {% for field in form %}
          <div class="form-row{% if field.errors %} errors{% endif %}">
            {{ field.errors }}
            <div>
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <div class="help">{{ field.help_text }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </fieldset>

      <div class="submit-row">
        <input type="submit" class="default" value="Import course content">
        <a class="closelink" href="{{ changelist_url }}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
